@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Bellefair&display=swap");

body {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  min-height: 100vh;
  background: #2c2c2c;
}
.header--text {
  color: #fff;
  font-family: "Barlow";
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.04em;
  line-height: 10px;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.input-field {
  display: flex;
  flex-direction: column;
}
.input-field input {
  width: 400px;
  margin: auto;
  padding: 12px;
  margin-bottom: 2rem;
  font-size: 15px;
  font-weight: bold;
  font-family: "Barlow";
  background-color: #000;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.input-field input:focus {
  outline: none;
}
.input-field button {
  width: 200px;
  margin: auto;
  padding: 10px;
  margin-top: 3rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Barlow";
  font-size: 20px;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
}
.img-field img {
  border-radius: 10px;
  border: none;
  margin: 2rem;
  /* width: 512px;
  height: 512px; */
}
.img-field p {
  font-family: "Barlow";
  font-weight: bold;
  font-size: 25px;
}
a {
  text-decoration: none;
  font-family: "Barlow";
  font-weight: bold;
  background-color: #000;
  padding: 10px;
  color: #fff;
}

@media screen and (max-width: 650px) {
  .input-field input {
    max-width: 300px;
    margin: auto;
    padding: 20px;
  }
}
@media screen and (max-width: 350px) {
  .input-field input {
    max-width: 220px;
    margin: auto;
    padding: 10px;
  }
  .header--text {
    font-size: 20px;
  }
  .input-field button {
    padding: 10px;
    font-size: 12px;
    width: 150px;
    margin-top: 1.5rem;
  }
}
